

.contact-form__content {
    max-width: 1230px;
    margin: 0 auto;
    padding: 30px 60px;
    border-radius: 8px;
}

.contact-form__heading {
    color: #BC8F8F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.form__group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
}

.form__group--title {
    width: 250px;
    text-align: left;
    padding-right: 16px;
    box-sizing: border-box;
    color: #BC8F8F;
}

.form__label--item {
    display: inline-block;
}

.form__label--required {
    color: red;
    font-size: 15px;
}

/* .form-group {
    flex: 1;
} */

.form-group-content {
    flex: 1;
    min-width: 0;
}

/* .form__group-content input[type="text"],
.form__group-content input[type="email"],
.form__group-content select,
.form__group-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 */
.form__input--text {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.name-fields {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name-fields input[type="text"] {
    padding: 8px;
    width: 290px;
}

input[type="radio"]{
    color: #BC8F8F;
    
}

.tel-fields {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tel-fields input[type="text"] {
    width: 190px;
    padding: 10px;
}

.tel-separator {
    display: inline-block;
    width: 5px;
}

.common-width input[type="text"],
.common-width input[type="email"]
{
    width: 610px;
    padding: 10px;
}

.building-fields input{
    width: 610px;
    padding: 10px
}

.category {
    padding: 10px;
    background-color: #bdb4af62;
}

input {
    background-color: #bdb4af62;
}

.form__input--textarea textarea {
    width: 610px;
    padding: 10px;
    height: 100px;
    resize: none;
    background-color: #bdb4af62;
}

.form__error {
    color: red;
    font-size: 15px;
    margin-top: 5px;
   
}

.form__button {
    text-align: center;
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px 30px;
    background-color: #BC8F8F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form__button-submit:hover {
    background-color: #614f4f;
}